<flex-canvas w="100%" pd="20px" class="app-container">
  <flex-box h="100%" column>
    <flex-cell>
      <flex-box>
        <h1 class="no-mg">
          <s-box block fz="20px">
            <span class="icon">🚀</span>
            <span>Prisma DTO Schema Builder</span>
          </s-box>
        </h1>
      </flex-box>
    </flex-cell>
    <space-box size="20px" wfull></space-box>
    <flex-cell g="1">
      <flex-box gap="20px" h="100%">
        <flex-cell w="40%">
          <p-menubar [model]="menus">
            <ng-template #item let-item let-root="root">
              <a href="#" [class.active]="activeItemId == item.id" class="p-menubar-item-link">
                <span>{{ item.label }}</span>
              </a>
            </ng-template>
          </p-menubar>
          <div class="lazy-panel" [class.visible]="activeItemId == '1'">
            <app-editor (schemaData)="onSchemaChange($event)" [(value)]="prismaSchema"></app-editor>
          </div>

          <div class="lazy-panel" [class.visible]="activeItemId == '2'">
            <app-json-editor (valueChange)="onDtoChanged($event)" [(value)]="dtoSchema"></app-json-editor>
          </div>

        </flex-cell>
        <flex-cell w="60%">
          <p-menubar [model]="submenus">
            <ng-template #item let-item let-root="root">
              <a href="#" [class.active]="activeItemId == item.id" class="p-menubar-item-link">
                <span>{{ item.label }}</span>
              </a>
            </ng-template>
          </p-menubar>
          <space-box size="20px"></space-box>
          <div class="scrollbox">



            @if(submenuActiveItemId == '1') {
            <p-card header="Extra Enums">
              @if(extraEnums.length > 0) {
              @for(item of extraEnums; track item.name) {
              <flex-grid compact gap="10px">
                <flex-box ai="center">
                  <flex-cell w="150px">
                    <s-box block color="#49DE80" fz="18px" fw="700">
                      <i class="pi pi-flag-fill"></i> {{ item.name }}
                    </s-box>

                  </flex-cell>
                  <flex-cell g="1">
                    <p-autocomplete (ngModelChange)="onEnumUpdate(item)" [(ngModel)]="item.values"
                      inputId="multiple-ac-2" multiple fluid [typeahead]="false" />
                  </flex-cell>
                  <flex-cell>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="removeExtraEnum(item)">
                    </button>
                  </flex-cell>
                </flex-box>
              </flex-grid>

              }
              } @else {
              <s-box op=".7" block>
                <p>No extra enums</p>
              </s-box>
              }
              <space-box size="5px"></space-box>
              <button (click)="showAddEnumDialog = true" type="button" pButton pRipple severity="success">
                Add Enum
              </button>
            </p-card>
            <space-box size="5px"></space-box>
            <p-card header="Extra Models">
              @if(extraModels.length > 0) {
              @for(item of extraModels; track item.name) {
              <s-box block>
                <flex-box gap="5px" jc="space-between" ai="center">
                  <flex-cell>
                    <s-box mbe="10px" fz="18px" color="#49DE80" fw="700" block>
                      <i class="pi pi-flag-fill"></i>
                      {{item.name}}
                    </s-box>
                  </flex-cell>
                  <flex-cell>
                    <flex-box gap="5px" ai="center">
                      <flex-cell>
                        <p-select [options]="modelTypes" (onChange)="extraModelTypeChanged(item)"
                          [(ngModel)]="item.type" placeholder="Select a Type" required="" />
                      </flex-cell>
                      <flex-cell>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                          (click)="removeExtraModel(item)">
                        </button>
                      </flex-cell>
                    </flex-box>
                    @if(item.type !== 'input' && item.type !== 'output') {
                    <s-box fz="12px" color="red" mb="2px" block>
                      <i class="pi pi-exclamation-triangle"></i> Only input and output types are supported
                    </s-box>
                    }
                  </flex-cell>

                </flex-box>
                <space-box size="5px"></space-box>
                @if(item.fields.length > 0) {
                @for(field of item.fields; track field.name) {
                <s-box block mbe="10px" br="6px" pd="10px" bgc="#121212">
                  <flex-box gap="20px" ai="flex-start">
                    <flex-cell g="1">
                      <app-field (onChange)="updateExtraField(item, $event)" [prismaData]="prismaData"
                        [extraEnums]="extraEnums" [extraModels]="extraModels" [field]="field"></app-field>
                    </flex-cell>
                    <flex-cell>
                      <s-box block pbs="22px">
                        <button pButton pRipple icon="pi pi-trash" (click)="deleteExtraField(item, field)"
                          class="p-button-danger" [text]="true">
                        </button>
                      </s-box>
                    </flex-cell>
                  </flex-box>
                </s-box>
                }
                } @else {
                <s-box op=".7" block>
                  <p>No fields</p>
                </s-box>
                }

              </s-box>
              <s-box mb="10px" block>
                <s-box block h="2px" bgc="#FFF" op=".1"></s-box>
              </s-box>
              }
              } @else {
              <s-box op=".7" block>
                <p>No extra models</p>
              </s-box>
              <button pButton pRipple severity="success">
                Add Model
              </button>
              }
            </p-card>
            }


          </div>
        </flex-cell>
      </flex-box>

    </flex-cell>
  </flex-box>

</flex-canvas>

<p-dialog header="Add Enum" [(visible)]="showAddEnumDialog" [style]="{ width: '500px' }">
  <flex-grid gap="5px">
    <flex-box column>
      <flex-cell>
        <label for="enumName">Enum Name</label>
        <space-box size="5px"></space-box>
        <input id="enumName" type="text" pInputText [(ngModel)]="newEnumName" />
      </flex-cell>
      <flex-cell>
        <label for="enumValues">Enum Values</label>
        <space-box size="5px"></space-box>

        <p-autocomplete (ngModelChange)="onSelectEnums($event)" [(ngModel)]="newEnumValues" inputId="multiple-ac-2"
          multiple fluid [typeahead]="false" />
      </flex-cell>
    </flex-box>
  </flex-grid>
  <space-box size="10px"></space-box>
  <flex-box gap="10px">

    <button pButton type="button" label="Cancel" type="button" (click)="showAddEnumDialog = false"
      class="p-button-text"></button>
    <button pButton type="button" label="Save" type="button" (click)="addEnum($event)"></button>
  </flex-box>
</p-dialog>