<flex-box gap="10px" ai="center" [formGroup]="form">
    <flex-cell g="1">
        <flex-box gap="5px" ai="center">
            <flex-cell>
                @if(form.valid) {
                <s-box fw="700" color="#87EFAC" fz=14px>
                    <i class="pi pi-check-circle"></i>
                </s-box>
                } @else {
                <s-box fw="700" color="red" fz=14px>
                    <i class="pi pi-asterisk"></i>
                </s-box>
                }
            </flex-cell>
            <flex-cell>
                <s-box fw="700" color="#87EFAC" fz=14px>
                    {{form.get('name')?.value}}
                </s-box>
            </flex-cell>
            <flex-cell>
                <s-box fw="700" color="gray" fz=14px>
                    [{{form.get('type')?.value || 'unknown'}}]
                </s-box>
            </flex-cell>
            @if(form.get('isRequired')?.value) {
            <flex-cell>
                <s-box fw="700" fz=14px>
                    *
                </s-box>
            </flex-cell>
            }
        </flex-box>
    </flex-cell>
    <flex-cell style="min-width: 150px">
        <flex-box column gap="2px">
            <label [for]="id + 'fieldType'">
                <s-box fz="12px" color="gray" block>
                    Field Type
                </s-box>
            </label>
            <p-select [readonly]="isPrismaField" appendTo="body" [id]="id + 'fieldType'" [options]="fieldTypes"
                formControlName="fieldType" placeholder="Type"></p-select>

        </flex-box>
    </flex-cell>

    @if(isRelation) {
    <flex-cell>
        <flex-box column gap="2px">
            <label [for]="id + 'f_is_extra'">
                <flex-box ai="center" gap="10px">
                    <s-box fz="12px" color="gray">
                        Relation
                    </s-box>

                    <s-box block lh="1" fz="12px" color="gray">
                        <flex-box ai="center" gap="5px">
                            <p-checkbox [readonly]="isPrismaField" [inputId]="id + 'f_is_extra'"
                                formControlName="isExtra" binary="true"></p-checkbox>
                            <span>Extra</span>
                        </flex-box>
                    </s-box>
                </flex-box>

            </label>
            <p-select [readonly]="isPrismaField" appendTo="body" [options]="modelNameOptions" formControlName="type"
                placeholder="Relation"></p-select>

        </flex-box>
    </flex-cell>
    <flex-cell w="170px">
        <flex-box column gap="2px">
            <label [for]="id + 'f_rname'">
                <s-box fz="12px" color="gray" block>
                    Relation Name
                </s-box>
            </label>
            <input pInputText [class.readonly]="isPrismaField" [disabled]="isPrismaField" [readonly]="isPrismaField" [id]="id + 'f_rname'" placeholder="Relation Name"
                formControlName="relationName" autocomplete="off" />
        </flex-box>
    </flex-cell>
    }

    @if(isEnum) {
    <flex-cell>
        <flex-box column gap="2px">
            <label [for]="id + 'f_model'">
                <s-box fz="12px" color="gray" block>
                    Enum
                </s-box>
            </label>
            <p-select appendTo="body" [readonly]="isPrismaField" [options]="enums" formControlName="type"
                placeholder="Enum"></p-select>
        </flex-box>
    </flex-cell>
    }
    <flex-cell>
        <flex-box column gap="2px">
            <label [for]="id + 'f_required'">
                <s-box fz="14px" lh="1.1" color="gray" block>
                    (*)
                </s-box>
            </label>
            <p-checkbox [inputId]="id + 'f_required'" formControlName="isRequired" binary="true"></p-checkbox>

        </flex-box>

    </flex-cell>
    <flex-cell>
        <flex-box column gap="2px">
            <label [for]="id + 'f_is_list'">
                <s-box fz="12px" color="gray" block>
                    Array[]
                </s-box>
            </label>
            <p-checkbox [readonly]="isPrismaField" [inputId]="id + 'f_is_list'" formControlName="isList" binary="true"></p-checkbox>

        </flex-box>

    </flex-cell>
</flex-box>